@model tltjr.Models.SidebarModel

<!-- sidebar -->
<aside id="sidebar" class="alignright span4">
    <!-- Search -->
    <!--<section class="search clearfix">
        <form id="search" class="input-append">
            <input class="" id="appendedInputButton" size="16" type="text" value="Search..." name="search site"
                onfocus="if(this.value=='Search...') this.value=''" onblur="if(this.value=='') this.value='Search...'" />
            <input class="btn search-bt" type="submit" name="submit" value="" />
        </form>
    </section>-->

    <!-- Recent Posts -->
    <div class="title-divider">
        <h3>Recent Posts</h3>
        <div class="divider-arrow"></div>
    </div>
    <section class="post-widget block-grey">
        <ul class="clearfix block-light wrap15">
            @foreach (var recent in Model.RecentPosts)
            {
                <li>
                    @Html.ActionLink(recent.Title, "Post", "Blog", new { slug = recent.Slug }, null)
                    <div class="clear"></div>
               </li>
            }
        </ul>
    </section>

    <!-- Archive -->
    <div class="title-divider">
        <h3>Archive</h3>
        <div class="divider-arrow"></div>
    </div>
    <section class="post-widget block-grey">
        <ul class="clearfix block-light wrap15">
            @foreach (var month in Model.Archives) 
            {
                <li>
                    @Html.ActionLink(month.Text, "Archive", "Blog", new { dateTime = month.DateTime }, null)
                    <div class="clear"></div>
                </li>
            }
        </ul>
    </section>
</aside>
