<!-- sidebar -->
<aside id="sidebar" class="alignright span4">
    <!-- Search -->
    <section class="search clearfix">
        <form id="search" class="input-append">
            <input class="" id="appendedInputButton" size="16" type="text" value="Search..." name="search site"
                onfocus="if(this.value=='Search...') this.value=''" onblur="if(this.value=='') this.value='Search...'" />
            <input class="btn search-bt" type="submit" name="submit" value="" />
        </form>
    </section>

    <!-- Recent Posts -->
    <div class="title-divider">
        <h3>Recent Posts</h3>
        <div class="divider-arrow"></div>
    </div>
    <section class="post-widget block-grey">
        <ul class="clearfix block-light wrap15">
            <li>
                <a href="#">Ut in lacus rhoncus elit egesta sluctus. Nullam at</a>
                <p><em>12 Apr 2012, 3 comments</em></p>
                <div class="clear"></div>
            </li>
            <li>
                <a href="#">Ut in lacus rhoncus elit egesta sluctus. Nullam at</a>
                <p><em>12 Apr 2012, 3 comments</em></p>
                <div class="clear"></div>
            </li>
            <li>
                <a href="#">Ut in lacus rhoncus elit egesta sluctus. Nullam at</a>
                <p><em>12 Apr 2012, 3 comments</em></p>
                <div class="clear"></div>
            </li>
        </ul>
    </section>

    <!-- Archive -->
    <div class="title-divider">
        <h3>Archive</h3>
        <div class="divider-arrow"></div>
    </div>
    <section class="post-widget block-grey">
        <ul class="clearfix block-light wrap15">
            <li>
                <a href="#">February 2013</a>
                <div class="clear"></div>
            </li>
            <li>
                <a href="#">January 2013</a>
                <div class="clear"></div>
            </li>
            <li>
                <a href="#">December 2012</a>
                <div class="clear"></div>
            </li>
        </ul>
    </section>
</aside>
