@model IEnumerable<tltjr.Models.Post>

<!-- container -->
<section id="container">
    @if (User.Identity.IsAuthenticated) {
        <div id="new_post">
            @Html.ActionLink("New Post", "New", "Blog")
            @Html.ActionLink("Log Off", "LogOff", "Account")
        </div>
    }
    <div class="container">
        <div class="row down160">
            <!-- page content -->
            @Html.Partial("_Summaries");
            @Html.Partial("_Sidebar");
        </div>
    </div>
</section>

<script type="text/javascript">
    $("#nav-blog").addClass("active");
</script>