@model IEnumerable<tltjr.Models.Post>

<!-- container -->
<section id="container">
    <div class="container">
        <div class="row down160">
            <!-- page content -->
            @Html.Partial("_Summaries");
            @Html.Partial("_Sidebar");
        </div>
    </div>
</section>

<script type="text/javascript">
    $("#nav-blog").addClass("active");
</script>