@model tltjr.Models.Post

<!-- container -->
<section id="container">
    <div class="container">
        <div class="row down160">
            <!-- page content -->
            <section id="page-sidebar" class="alignleft span8">
                <!-- content -->
                <div class="row">
                    <div class="span8">
                        <div class="title-divider">
                            <h3>Blog</h3>
                            <div class="divider-arrow"></div>
                        </div>
                    </div>
                    <article class="blog-post span8">
                        <div class="block-grey">
                            <div class="block-light">
                                <div class="wrapper-img">
                                    <a href="./portfolio2.html"><img src="example/blog2.jpg" alt="photo"/></a>
                                </div>
                                <div class="wrapper">
                                    <h2 class="post-title"><a href="#">Lorem ipsum</a></h2>
                                    <a href="#" class="blog-comments">3</a>
                                    <p>
                                        Etiam imperdiet, ante at porttitor rutrum, felis nisi pellentesque enim, vel viverra quam orci eu massa.
                                        Integer commodo, velit eget dapibus tincidunt, mauris ligula porttitor sapien, eget rhoncus dolor mi eu velit.
                                        Fusce mattis dui eu velit fringilla viverra. Aliquam non nibh non orci imperdiet venenatis.
                                        Quisque varius orci a lacus adipiscing id tempus elit pharetra.
                                    </p>
                                    <blockquote>
                                        <p>
                                            Etiam imperdiet, ante at porttitor rutrum, felis nisi pellentesque enim, vel viverra quam orci eu massa.
                                            Integer commodo, velit eget dapibus tincidunt, mauris ligula porttitor sapien, eget rhoncus dolor mi eu velit.
                                        </p>
                                    </blockquote>
                                    <p>
                                        Duis et eros at nulla euismod aliquet vitae ac odio.
                                        Nulla porta metus vitae mi ornare quis accumsan ligula congue.
                                        Integer commodo, velit eget dapibus tincidunt, mauris ligula porttitor sapien, eget rhoncus dolor mi eu velit.
                                        Fusce mattis dui eu velit fringilla viverra. Aliquam non nibh non orci imperdiet venenatis.
                                    </p>
                                    <p class="tags">
                                        Tags: <a href="#">Science</a>, <a href="#">Technology</a>, <a href="#">News</a>
                                    </p>
                                    <hr>
                                    <!--comments-->
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            @Html.Partial("_Sidebar");
        </div>
    </div>
</section>