<div class="container">
    <div class="row down160">
        <div class="span8">
            <div class="title-divider">
                <h3>Contact Me</h3>
                <div class="divider-arrow"></div>
            </div>
            <form id="contact-form" action="@Url.Action("Send")" method="post">
                <fieldset>
                    <legend></legend>
                    <label>Name</label>
                    <input type="text" />
                    <label>Email</label>
                    <input type="email" />
                    <label>Subject</label>
                    <input type="text" />
                    <label>Message</label>
                    <textarea></textarea>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-large btn-primary">Send</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span4" id="alt-contact">
            <div class="title-divider">
                <h3>Alternate Contact Info</h3>
                <div class="divider-arrow"></div>
            </div>
            <p><strong>Twitter: </strong>@@tltjr</p>
            <p><strong>Phone: </strong>480-286-9845</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#nav-contact").addClass("active");
</script>