<div class="container">
    <div class="row down160">
        <div class="span8" style="background-color: aqua; height: 1000px">
        </div>
        <div class="span4" style="background-color: green; height: 1000px">
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#nav-contact").addClass("active");
</script>