#main-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url(/Content/Img/otis_redding.png);
    background-repeat: repeat;
    margin-bottom: 60px;
}

#main {
    height: 500px;
}

.caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 160px;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
}

.caption h1, .lead {
    color:#F8F8F8;
}

#main-image {
    /* probably better to wrap caption and image in a container rather than define margin top twice */
    margin-top: 160px;
    width: 550px;
    height: 254px;
    float: left;
}

#throwaway {
    margin-top: 160px;
    width: 550px;
    height: 254px;
    float: left;
    background-color: black;
}