#main-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url(/Content/Img/otis_redding.png);
    background-repeat: repeat;
    margin-bottom: 60px;
}

#main {
    height: 500px;
}