<div id="main-wrapper">
    <div id="main" class="container">
        <div class="caption">
            <h1>Happy Customers</h1>
            <p class="lead">Developing .NET sofware that you &#8211; and your customers &#8211 will love!</p>
            <p><em>I specialize in .NET development; including ASP.NET MVC, WPF, C#, Javascript, jQuery, knockout.js, SQL Server, MongoDb and more!</em></p>
            <a class="btn btn-large btn-primary" href="/Contact">Contact Me Now!</a>
        </div>
        <div id="main-image" class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="Content/Img/microsoft-net-logo.png" alt="" />
                <img src="Content/Img/vs2012-standard.jpg" alt="" />
                <img src="Content/Img/xl.sqlserver_12_horiz.jpg" alt="" />
            </div>
        </div>
    </div>
</div>

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="span4">
            <img class="img-circle" data-src="holder.js/140x140">
            <h2>Web Development</h2>
            <p>I specialize in custom web applications with a focus on usability and a high-quality user experience. Create a great first impression on your customers with a robust, beautiful and responsive website.</p>
        </div>
        <!-- /.span4 -->
        <div class="span4">
            <img class="img-circle" data-src="holder.js/140x140">
            <h2>Desktop Development</h2>
            <p>Want to deliver a polished desktop application to your users? Give your users a high powered Windows desktop application built with WPF.</p>
        </div>
        <!-- /.span4 -->
        <div class="span4">
            <img class="img-circle" data-src="holder.js/140x140">
            <h2>Web Services</h2>
            <p>Whether you need a WCF Service, ASP.NET Web API or Service Stack Web Service, I can deliver fast, scalable and <strong>reusable</strong> services to meet your needs.</p>
        </div>
        <!-- /.span4 -->
    </div>
    <!-- /.row -->

    @{ Html.RenderPartial("_Footer"); }

</div>
<!-- /.container -->
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        effect: 'boxRandom',
        pauseTime: 6000
    });
    $("#nav-home").addClass("active");
});
</script>