<div class="container">
    <div class="row down160">
        <h1>Page Not Found</h1>
        <p>We can't find that page. Sorry for the inconvenience. Below are some common pages you might be looking for.</p>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
            <li>@Html.ActionLink("Resume", "Index", "Resume")</li>
            <li><a href="https://github.com/tltjr">GitHub</a></li>
            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
        </ul>
    </div>
</div>